.highlight-container {
    color: #373E4D;
    background-color: #F5F5F5;
    height: 100%;
    padding-top: 12px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
}
.flex-highlights {
    margin-top: 0px;
    height: 610px;
}

.flex-highlights-item {
    margin-bottom: 50px;
    width: 353px;
    height: 540px;
}

.card-flex-highlight {
    transition: .4s linear;
    cursor: pointer;
    padding: 19px;
    margin-top: 180px;
    background-color: white;
    box-shadow: 0px 0px 15px -17px #000000;
    border-radius: 12px;
    width: 314px;
    height: 388px;
}

.card-flex-highlight:hover {
    transition: .4s linear;
}

.card-flex-highlight:hover .product-img {
    margin-left: -150px;
    width: 300px;
    height: 300px;
    margin-top: -175px;
    filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.25));
}

.img-title {
    display: flex;
    justify-content: space-between;
}

.product-img {
    transition: .4s linear;
    margin-top: -110px;
    margin-left: 10px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

.product-title {
    font-weight: bold;
    font-size: 31px;
}

.product-description {
    font-size: 20px;
}

.product-price {
    font-size: 36px;
}
.product-actions {
    position: relative;
    height: 130px;
}
#product-actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;
}
.money-component {
    text-align: center;
}

.add-product-btn {
    cursor: pointer;
    font-size: 16px;
    color: white;
    height: 39px;
    width: 163px;
    padding: 8px 0;
    background: #373E4D;
    border: 0.4px solid #373E4D;
    box-sizing: border-box;
    border-radius: 8px;
}

.qtt-number {
    font-size: 18px;
    text-align: center;
    height: 39px;
    width: 103px;
    right: 0;
    border: 0.4px solid #373E4D;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 7px;
    margin-left: 57px;
}

input[type=number] {
	width: 80px;
	border: 1px solid rgba(0,0,0,0.1);
}
input[type=number]::-webkit-inner-spin-button { 
    all: unset; 
    min-width: 21px;
    min-height: 45px;
    margin: 17px;
    padding: 0px;
    background-image: 
    linear-gradient(to top, transparent 0px, transparent 16px, #fff 16px, #fff 26px, transparent 26px, transparent 35px, #000 35px,#000 36px,transparent 36px, transparent 40px),
    linear-gradient(to right, transparent 0px, transparent 10px, #000 10px, #000 11px, transparent 11px, transparent 21px);
    transform: rotate(90deg) scale(0.8, 0.9);
    cursor:pointer;
}

.custom-form-container {
    margin-top: 52px;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.img-custom {
    margin-top: 52px;
    margin-left: 75px;
}

.img-custom p {
    text-align: center;
    width: 360px;
}
.form-area {
    display: inline;
    width: 50%;
}

.input-form-custom {
    background: #FFFFFF;
    border: 0.3px solid #FFD362;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 51px;
    margin-top: 6px;
    margin-bottom: 17px;
    padding-left: 18px;
}

.input-form-custom-textarea {
    background: #FFFFFF;
    border: 0.3px solid #FFD362;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 114px;
    margin-top: 6px;
    margin-bottom: 17px;
    padding-left: 18px;
}
.prefix-upload {
    width: 65px;
    height: 31px;
    padding: 8px;
    background-color: #69B2F6;
    border-radius: 8px 0 0 8px;
}

.sufix-upload {
    width: 510px;
    height: 45px;
    padding-left: 16px;
    background-color: #E5E5E5;
    border: none;
    border-radius: 0 8px 8px 0;
}
.flex-upload {
    margin-top: 12px;
    float: left;
    display: flex;
    justify-content: center;
}
.submit-style {
    margin-top: 23px;
    margin-bottom: 25px;
    cursor: pointer;
    width: 100%;
    height: 58px;
    color: white;
    border: none;
    font-size: 24px;
    background: #373E4D;
    border-radius: 8px;
}